/* NOT FOUND - 404 PAGE */
.background {
    background: url('../images/purplesky-mini.webp') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

h1 {
    font-size: 16em;
    font-weight: 600;
    background: -webkit-linear-gradient(transparent, transparent), url('../images/purplesky-mini.webp');
    background: -o-linear-gradient(transparent, transparent), url('../images/purplesky-mini.webp');
    background: -moz-linear-gradient(transparent, transparent), url('../images/purplesky-mini.webp');
    background: linear-gradient(transparent, transparent), url('../images/purplesky-mini.webp');
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    filter: drop-shadow(0 0 20mm #800080);
}

h3 {
    font-size: 2.5em;
    color: #143265;
}

p {
    font-size: 2em;
    margin-bottom: 4em;
    color: #143265;
}

.btn {
    background-color: #300330;
    color: #c0d1f8;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    border: 0;
    border-radius: 50px;
    transition: all 0.25s ease;
    z-index: 3;
    position: relative;
    box-shadow: rgba(241, 184, 241, 0.2) 0 -25px 18px -14px inset,
        rgba(241, 184, 241, 0.15) 0 1px 2px,
        rgba(241, 184, 241, 0.15) 0 2px 4px,
        rgba(241, 184, 241, 0.15) 0 4px 8px,
        rgba(241, 184, 241, 0.15) 0 8px 16px,
        rgba(241, 184, 241, 0.15) 0 16px 32px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    filter: drop-shadow(0 0 0.25rem #300330);
}

.btn:hover {
    background-color: #800080;
    box-shadow: rgba(241, 184, 241, 0.35) 0 -25px 18px -14px inset,
        rgba(241, 184, 241, 0.25) 0 1px 2px,
        rgba(241, 184, 241, 0.25) 0 2px 4px,
        rgba(241, 184, 241, 0.25) 0 4px 8px,
        rgba(241, 184, 241, 0.25) 0 8px 16px,
        rgba(241, 184, 241, 0.25) 0 16px 32px;
    transform: scale(1.05);
}