/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */
body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #c0d1f8;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

.hidden-heading {
    display: none;
}

/* HEADER & NAVBAR */
#logo {
    display: flex;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: #300330;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

#logo img {
    height: 60px;
    margin: 10px;
    border-radius: 50px;
}

header {
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 4px 4px 200px rgb(168, 11, 168, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c0d1f8;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Navbar menu */
#menu {
    font-size: 120%;
    letter-spacing: 4px;
    list-style: none;
    display: none;
    /* Initially hidden */
}

#menu>li {
    margin-bottom: 1em;
}

#menu li a {
    text-decoration: none;
    color: #300330;
    font-family: 'Oswald', sans-serif;
    transition: color 0.3s;
}

/* Hover/focus color */
#menu li a:hover,
#menu li a:focus {
    color: #a80ba8;
}

.active {
    border-bottom: 1px solid #300330;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: rgb(168, 11, 168, 0.1);
    background: linear-gradient(#c0d1f8, #a80ba819);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0px 4px 10px rgba(48, 3, 48, 0.3);
    display: none;
    top: 100%;
}

/* Nav toggle - display nav when checked */
#nav-toggle:checked~nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#nav-toggle {
    display: none;
}

/* Show hamburger menu label by default */
.nav-toggle-label {
    font-size: 2rem;
    cursor: pointer;
    color: #300330;
    transition: color 0.3s, transform 0.3s;
    display: block;
}

/* Change color when nav-toggle is checked */
#nav-toggle:checked+.nav-toggle-label {
    color: #a80ba8;
}

/* Reset color when nav-toggle is unchecked */
#nav-toggle:not(:checked)+.nav-toggle-label {
    color: #300330;
}

/* On Hover/focus change color & slightly enlarge */
.nav-toggle-label:hover,
.nav-toggle-label:focus {
    color: #a80ba8;
    transform: scale(1.1);
}

/* MAIN CONTENT */
main {
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}

/* FOOTER */
#social-networks {
    text-align: center;
    display: flex;
    justify-content: center;
    list-style: none;
    color: #300330;
}

#social-networks li {
    display: inline-block;
    margin: 10px;
    font-size: 150%;
    transition: transform 0.3s;
}

#social-networks li a {
    color: #300330;
    transition: color 0.3s;
}

/* Slightly enlarge on hover/focus */
#social-networks li:hover,
#social-networks li:focus {
    transform: scale(1.1);
}

/* Change color on hover/focus */
#social-networks li:hover a,
#social-networks li:focus a {
    color: #a80ba8;
}

/* NOT FOUND 404 PAGE */
.background {

    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: #c0d1f8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(48, 3, 48, 0);

    z-index: 1;
}

.404-container {
    position: relative;
    z-index: 2;
    text-align: center;
}

h1,
h3,
p {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    background: -webkit-linear-gradient(transparent, transparent), url('/assets/images/night-sky-img.webp');
    background: -o-linear-gradient(transparent, transparent), url('/assets/images/night-sky-img.webp');
    background: -moz-linear-gradient(transparent, transparent), url('/assets/images/night-sky-img.webp');
    background: linear-gradient(transparent, transparent), url('/assets/images/night-sky-img.webp');
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h1 {
    font-size: 10em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
    margin-bottom: 2em;
}

.btn {
    background-color: #300330;
    color: #c0d1f8;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s;
    z-index: 3;
    position: relative;
}

.btn:hover {
    background-color: #800080;
}

/* MEDIA QUERIES */
/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    #menu>li {
        margin: 1rem 0;
    }

    h1 {
        font-size: 5em;
    }

    h3 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }
}

/* Medium devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    #menu>li {
        margin: 1rem 0;
    }
}

/* Large devices (landscape tablets, laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .nav-toggle-label {
        display: none;
    }

    nav {
        display: flex;
        width: auto;
        position: static;
        box-shadow: none;
        background: none;
    }

    #menu {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #menu>li {
        margin: 0 1rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .nav-toggle-label {
        display: none;
    }

    nav {
        display: flex;
        width: auto;
        position: static;
        box-shadow: none;
        background: none;
    }

    #menu {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #menu>li {
        margin: 0 1rem;
    }
}