body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #131417;
    overflow: hidden;
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            rgba(192, 209, 248, 0.8) 0%,
            rgba(176, 200, 240, 0.8) 10%,
            rgba(208, 220, 255, 0.8) 20%,
            rgba(192, 209, 248, 0.8) 30%,
            rgba(224, 232, 255, 0.8) 40%,
            rgba(192, 209, 248, 0.8) 50%,
            rgba(160, 180, 230, 0.8) 60%,
            rgba(224, 232, 255, 0.8) 70%,
            rgba(176, 200, 240, 0.8) 80%,
            rgba(208, 220, 255, 0.8) 90%,
            rgba(192, 209, 248, 0.8) 100%);
    z-index: 1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
}

h1 {
    font-size: 8em;
    font-weight: 600;
    color: #143265;
    filter: drop-shadow(0 0 20mm #800080);
}

h3 {
    font-size: 2.5em;
    color: #143265;
}

p {
    font-size: 2em;
    margin-bottom: 4em;
    color: #143265;
}

#bubble-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    overflow: hidden;
}

.bubble {
    width: 20px;
    height: 20px;
    opacity: 0;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    bottom: 0;
}

.bubble::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid transparent;
    background: linear-gradient(#c0d1f8, #acbdf3da), linear-gradient(135deg, #a28949, #f1b8f140);
    background-origin: border-box;
    background-clip: content-box, border-box;
}